* {
  margin: 0;
  padding: 0;
}
#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
img:hover {
  opacity: 0.5;
}
